body {
    background-image: url("img/Badger2.jpeg");
    margin: 0;
    font-family: 'PT Sans Caption', sans-serif;
    background-color: #222;
    /*font-family: 'Roboto Slab', serif;*/
}

#header {
    background-color: #aec4bf;
}

#header ul {
    list-style-type: none;
}

.logo {
    background-image: url("img/logo.png");
}

#nav {
    background-color: lightgreen;
}

#hero {
    background-color: lightgreen;
}

section {
    background-color: #a3e7d8;
}

#youtube {
    
}

#gallery {
    
}

#feed {
    
}

.ffeed, .ifeed {
    display: inline;
}

footer {
    background-color: #aec4bf;
}