body {
    margin: 5px 40px 20px 40px;
    font-family: 'PT Sans Caption', sans-serif;
    background-color: #222;
    background-image: url('../img/africa-sunset.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*font-family: 'Roboto Slab', serif;*/
}

a {
    color: inherit;
    text-decoration: none;
}

a :hover {
    text-decoration: underline;
    transition-delay: 700ms;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

#header {
    background-color: #02b875;
    color: #222;
    text-shadow: 1px 1px #fff;
    border-radius: 5px;
    line-height: 0;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 10px;
}

#header ul li {
    display: inline-block;
}

#header .h2-lg {
    margin: 0 20px;
    position: relative;
    bottom: 25px;
    font-size: 35px;
}

#header .h2-sm {
    display: none;
}

.logo {
    margin: 10px 5px 0 0;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 1px;
    z-index: 1;
}

#nav {
    background-color: #02b875;
    color: #222;
    text-shadow: 1px 1px #fff;
    border-radius: 4px;
    height: 30px;
    margin: 10px 0 0 0;
   
}

#nav ul {
    margin: 0 35px 0 0;
}

#nav ul li {
    list-style-type: none;
    margin: 0 25px;
    font-size: 15px;
    float: right;
}

nav ul li h2 {
    margin: 0;
}

#hero {
    background-color: #404040;
    height: 500px;
    border-radius: 5px;
    padding: 1px 0.5px;
}

#hero article {
    display: inline-block;
}

#hero .herolg {
    display: inline;
}

#hero .heromed, .herosm {
    display: none;
}

#herotxt {
    margin: 0 0 0 40%;
    position: relative;
    top: -505px;
}

#hero h1 {
    font-size: 50px;
    margin: 0;
}

section {
    background-color: #404040;
    border-radius: 5px;
    margin: 20px 0;
    color: white;
    text-shadow: 2px 2px #222;
    box-shadow: 10px 10px 7px #555;
}

#gallery, #feed {
    padding: 10px;
}

#feed {
    padding: 10px 150px;
}

#feed article {
   display: inline;
}

#feed iframe {
    background-color: #404040;
    padding: 10px;
    border-radius: 5px;
}

#feed .facebook-m {
    display: none;
}

#feed .facebook-s {
    display: none;
}

#feed .youtube {
    float: right;
}

#feed .youtube-m {
    display: none;
}

#feed .youtube-s {
    display: none;
}

#myModal {
    /*display: none;*/
    text-align: center;
    color: white;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    margin: 0; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0,0,0,0.9);
  }

.flexbox {
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}
.flexbox picture {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 500px;
    margin: .2%;
}

.flexbox picture img {
    width: 100%;
    height: auto;
}

.flexbox picture img :hover {
    scale: 1.1;
}

#footer {
    background-color: #02b875;
    color: #222;
    text-shadow: 1px 1px #fff;
    border-radius: 5px;
    text-align: center;
}

#footer .feet {
    display: inline;
    margin: 0 10%;
}

@media screen and (max-width: 1886px) {
    #feed {
        padding: 10px;
    }
}

@media screen and (max-width: 1602px) {
    #feed .youtube {
        display: none;
    }

    #feed .youtube-s {
        display: block;
        position: relative;
        top: 125px;
        float: right;
    }
}

@media screen and (max-width: 1166px) {
    #header .h2-lg {
        font-size: 30px;
        bottom: 25px;
    }

    #herotxt {
        position: relative;
        top: -500px;
        margin: 0 1px 0 52%;
    }

    #hero h1 {
        font-size: 35px;
    }

    #hero p {
        font-size: 15px;
    }

    #feed article {
        text-align: center;
    }

    #feed {
        padding: 10px;
    }

    #feed div {
        margin: 0;
    }

    #feed .facebook {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #feed .youtube-m {
        top: 0;
        float: none;
        display: block;
        margin: 10px auto 0 auto;
    }

    #feed .youtube-s {
        display: none;
    }

    #footer .feet {
        margin: 0 5px;
        font-size: 12px;
    }

}

@media screen and (max-width: 1038px) {
    #header .h2-lg {
        font-size: 20px;
        bottom: 35px;
    }

    #herotxt {
        margin: 0 10px 0 5%;
    }

    #hero h1 {
        font-size: 50px;
    }

    #hero p {
        font-size: 20px;
    }

    #feed .facebook {
        display: none;
    }

    #feed .facebook-m {
        display: block;
    }

    #feed .youtube-m {
        display: none;
    }

    #feed .youtube-s {
        display: block;
    }
}

@media screen and (max-width: 782px) {
    #header .h2-lg {
        display: none;    
    }

    #header .h2-sm {
        margin: 0 0 0 20px;
        display: inline-block;
        position: relative;
        bottom: 40px;
    }

    #hero #herotxt {
     
    }

    #hero .herolg {
        display: none;
    }

    .heromed {
        display: inline-block;
    }

    #hero h1 {
        font-size: 30px;
    }

    #hero p {
        font-size: 15px;
    }

    #footer .feet {
        display: inline-block;
    }
}

@media screen and (max-width: 550px) {
    #header ul {
        text-align: center;
    }
    
    #nav ul {
        margin: 0 10px 0 0;
    }
    
    #nav ul li {
        list-style-type: none;
        margin: 0 20px 0 0;
        font-size: 10px;
        float: right;
    }

    #nav ul li a h2 {
        margin: 5px 0 0 0;
    }
}

@media screen and (max-width: 470px) {
    .logo {
        margin: 10px auto 0 auto;
        display: block;
        width: 50%;
    }
    
    #header h2 {
        margin: 0;
    }

    #header .h2-sm {
        margin: 0 0 0 20px;
        display: inline;
        position: static;
        bottom: 0;
        line-height: 30px;
        text-align: center;
    }

}